name: PHPCS (WordPress Coding Standards)

on:
  push:
  pull_request:

jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install PHPCS + WPCS
        run: |
          composer require --dev squizlabs/php_codesniffer wp-coding-standards/wpcs dealerdirect/phpcodesniffer-composer-installer
          vendor/bin/phpcs -i

      - name: Run PHPCS
        run: vendor/bin/phpcs
